#aside {
  position: fixed;
  bottom: 40px;
  right: 35px;
  z-index: 10;
}

#aside a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#aside a::before {
  content: '';
  width: 25px;
  height: 25px;
  display: block;
  background-image: url(../img/svg/note.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 390px) {
  #aside {
    right: 20px;
    bottom: 100px;
    z-index: 9999;
  }

  #aside a {

  }

  #aside a::before {
    
  }
}
