.circle {
  --circle-size: 30px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  will-change: transform;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: background-color 0.3s ease;
}
