#title {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-image: url(../img/title.jpg);
  background-position: 0 -900px;
  background-repeat: no-repeat;
  background-size: cover;
}

#title .wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#title .wrap .title-info {
  height: 500px;
  margin-top: 220px;
  overflow-x: visible;
}

#title .title-info .title-line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  gap: 30px;
  margin-bottom: 150px;
  width: 100vw;
  height: 100px;
}

#title .title-info .title-line-wrapper .hinge-left, #title .hinge-right {
  font-size: 60px;
  font-weight: bold;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: inline-block;
  color: #fff;
}

#title .title-info .title-line-wrapper h2 {
  font-size: 140px !important;
  text-shadow:
  0.5px 0.5px 2px rgba(0, 0, 0, 0.7),
  1px 1px 6px rgba(0, 0, 0, 0.4),
  1.5px 1.5px 12px rgba(0, 0, 0, 0.2),
  2px 2px 20px rgba(0, 0, 0, 0.1);
}

#title .title-info .title-line-wrapper .hinge-left {
  transform-origin: right center;
  margin-bottom: 180px;
}

#title .title-info .title-line-wrapper .hinge-right {
  transform-origin: left center;
}

#title .title-info p {
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 50px !important;
  display: inline-block;
  opacity: 0.6 !important;
}

#title .title-info h3 {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#title .title-info h3 span {
  transform: translateY(-2.5px);
}

.blink {
  animation: blink 0.6s steps(1, start) infinite;
  user-select: none;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#title .downline {
  font-size: 0;
  position: absolute;
  bottom: 55px;
  left: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../img/svg/down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(12px);
  }
}
