#title {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#title .wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#title .wrap .title-info {
  height: 500px;
  margin-top: 220px;
  overflow-x: visible;
}

#title .title-info  .title-line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  gap: 30px;
  margin-bottom: 150px;
  height: 100px;
}

#title .title-info  .title-line-wrapper .hinge-left, #title .hinge-right {
  font-size: 60px;
  font-weight: bold;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: inline-block;
  color: #fff;
}

#title .title-info  .title-line-wrapper h2 {
  font-size: 140px !important;
}

#title .title-info  .title-line-wrapper .hinge-left {
  transform-origin: right center;
  margin-bottom: 180px;
}

#title .title-info  .title-line-wrapper .hinge-right {
  transform-origin: left center;
}

#title .title-info p {
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 50px !important;
  display: inline-block;
  opacity: 0.6 !important;
}

#title .title-info h3 {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title .title-info h3 span {
  transform: translateY(-2.5px);
}
